.ecta {
	box-sizing: border-box;

	@at-root #{&}--standard {
		padding: 4rem .5rem;

		.ecta__heading {
			font-size: 2rem;
			margin-top: .5rem;
		}

		.ecta__overline {
			font-size: 1.25rem;
			margin-bottom: 0;
		}

		.ecta__message {
			font-size: 1.5rem;
		}
	}

	@at-root #{&}--fullwidth {
		margin-left: calc(-100vw / 2 + 100% / 2);
		margin-right: calc(-100vw / 2 + 100% / 2);
		width: 100vw;

		.ecta__text {
			max-width: 1250px;
			margin: 0 auto;
		}

		.ecta__buttons {
			max-width: 1250px;
			margin: 0 auto;
		}

	}

	@at-root #{&}--aligncenter {
		text-align: center;
	}

	@at-root #{&}--alignleft {
		text-align: left;
	}

	@at-root #{&}--alignright {
		text-align: right;
	}

	@at-root #{&}--bgimage {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		position: relative;

		&:before {
			position: absolute;
			background: -moz-linear-gradient(top, rgba(76,76,76,0) 0%, rgba(19,19,19,1) 100%);
			background: -webkit-linear-gradient(top, rgba(76,76,76,0) 0%,rgba(19,19,19,1) 100%);
			background: linear-gradient(to bottom, rgba(76,76,76,0) 0%,rgba(19,19,19,1) 100%);
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			content: '';
			z-index: 1;
		}
	}

	@at-root #{&}__text {
		position: relative;
		z-index: 10;
	}

	@at-root #{&}__buttons {
		position: relative;
		z-index: 10;

		.btn {
			text-decoration: none;
			border: 2px solid #fff;
			padding: 10px 25px;
			margin: 10px 5px;
			display: inline-block;
			color: #fff;
			transition: all .5s ease;

			&:active,
			&:focus,
			&:hover {
				background-color: #fff;
				color: #000;
				transition: all .5s ease;
			}
		}
	}

}
