/*!
Plugin Name: ecta
Author: Faye Polson
Author URI: http://kanopistudios.com
Description: ecta
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: ecta
*/
@import 'ecta_styles';