// Breakpoints. Using $bears cause who doesn't love 'em.
$bears: (
	// breakpoints.
	baby: 320px,
	toddler: 380px,
	teen: 480px,
	papa: 600px,
	mama: 920px,
	grandpa: 1024px,
	grandma: 1250px
)
!default;