@font-face {
	font-family: 'Source Serif Pro Black Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Source Serif Pro Black Italic'), url("../../fonts/source-serif/SourceSerifPro-BlackIt.otf") format('opentype');
}

@font-face {
	font-family: 'Source Serif Pro Black';
	font-style: normal;
	font-weight: normal;
	src: local('Source Serif Pro Black'), url("../../fonts/source-serif/SourceSerifPro-Black.otf") format('opentype');
}

@font-face {
	font-family: 'Source Serif Pro Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Source Serif Pro Bold'), url("../../fonts/source-serif/SourceSerifPro-Bold.otf") format('opentype');
}

@font-face {
	font-family: 'Source Serif Pro Bold Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Source Serif Pro Bold Italic'), url("../../fonts/source-serif/SourceSerifPro-BoldIt.otf") format('opentype');
}

@font-face {
	font-family: 'Source Serif Pro Extra Light';
	font-style: normal;
	font-weight: normal;
	src: local('Source Serif Pro Extra Light'), url("../../fonts/source-serif/SourceSerifPro-ExtraLight.otf") format('opentype');
}

@font-face {
	font-family: 'Source Serif Pro Extra Light Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Source Serif Pro Extra Light Italic'), url("../../fonts/source-serif/SourceSerifPro-ExtraLight.otf") format('opentype');
}

@font-face {
	font-family: 'Source Serif Pro Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Source Serif Pro Italic'), url("../../fonts/source-serif/SourceSerifPro-It.otf") format('opentype');
}

@font-face {
	font-family: 'Source Serif Pro Light';
	font-style: normal;
	font-weight: normal;
	src: local('Source Serif Pro Light'), url("../../fonts/source-serif/SourceSerifPro-Light.otf") format('opentype');
}

@font-face {
	font-family: 'Source Serif Pro Light Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Source Serif Pro Light Italic'), url("../../fonts/source-serif/SourceSerifPro-LightIt.otf") format('opentype');
}

@font-face {
	font-family: 'Source Serif Pro';
	font-style: normal;
	font-weight: normal;
	src: local('Source Serif Pro'), url("../../fonts/source-serif/SourceSerifPro-Regular.otf") format('opentype');
}

@font-face {
	font-family: 'Source Serif Pro Semibold Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Source Serif Pro Semibold Italic'), url("../../fonts/source-serif/SourceSerifPro-SemiboldIt.otf") format('opentype');
}

@font-face {
	font-family: 'Source Serif Pro Semibold';
	font-style: normal;
	font-weight: normal;
	src: local('Source Serif Pro Semibold'), url("../../fonts/source-serif/SourceSerifPro-Semibold.otf") format('opentype');
}
