$default-fonts: (
		arial: arial,
	//primary font
		mpr: 'Myriad Pro Regular',
		mpb: 'Myriad Pro Bold',
	//secondary font
		ssp: 'Source Serif Pro',
		sspb:'Source Serif Pro Bold',
	//extra font styles
		mpc: 'Myriad Pro Condensed',
		mpci: 'Myriad Pro Condensed Italic',
		mpl: 'Myriad Pro Light',
		mpsb: 'Myriad Pro Semibold',
		mpsbi: 'Myriad Pro Semibold Italic',
		mpbc: 'Myriad Pro Bold Condensed',
		mpbi: 'Myriad Pro Bold Italic',
		mpbci: 'Myriad Pro Bold Condensed Italic',
		sspbl: 'Source Serif Pro Black',
		sspbli:'Source Serif Pro Black Italic',
		sspbi: 'Source Serif Pro Bold Italic',
		sspel:'Source Serif Pro Extra Light',
		sspeli: 'Source Serif Pro Extra Light Italic',
		sspi:'Source Serif Pro Italic',
		sspl: 'Source Serif Pro Light',
		sspli:'Source Serif Pro Light Italic',
		sspsb: 'Source Serif Pro Semibold',
		sspsbi: 'Source Serif Pro Semibold Italic',
);

$font-weight: (
		regular: 400,
		normal: normal,
		medium: 500,
		semibold: 600,
		bold: 700,
		black: 900
);

$font-default: fonts(mpr);
$font__main: $font-default;
$font__code: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
$font__pre: 'Courier 10 Pitch', Courier, monospace;
$font__line-height-body: 1.7;
$font__line-height-pre: 1.6;
